

      h1 {
        text-decoration: underline;
        text-align: center;
        word-spacing: 8px;
        font-size: 2.25em!important;
        text-shadow: 1px 1px black;
      }
      body{
        background-color: bisque;
      }
    
    Q1,Q2,Q3,Q4{
      color: #000;
    }
    
    h2 {
      word-spacing: 3px;
    }
    .submit{
      float: left;
      border: px solid green;
      background-color: #4CAF50; 
    }
    .submit:hover {
     
      color: white;
    }
    ul{
      
      text-justify: auto;
      text-decoration: none;
      font-style: italic;
    }
  
  footer{
    text-align: center;
    font-style: initial;
  }
 
    #six{
      float: right;
    }
      
      